/* ==== 
    LANDING PAGE STYLES 
=== */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #370267;
}

.section_gap {
    padding: 70px 0;
}


/* ==== BUTTON === */

.primary-btn {
    background: #370267;
    color: #fff;
    width: 150px;
    padding: 10px 0;
}

.signup {
    background: #370267;
    color: #fff;
}


/* ==== NAVBAR === */

.header_area {
    position: relative;
    width: 100%;
    z-index: 999999;
    transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
    background: transparent;
    padding-top: 2%;
    border: 0px;
    border-radius: 0px;
}

.header_area .navbar .nav .nav-item {
    margin-right: 40px;
}

.header_area .navbar .nav .nav-item .nav-link {
    font: 600 12px/40px "Montserrat", sans-serif;
    color: #808080;
    padding: 0px;
    display: inline-block;
}

.header_area .navbar .nav .nav-item .nav-link:hover {
    color: #30015b;
}

.header_area .navbar .nav .nav-item a.active {
    color: #30015b;
}

.logo_h {
    padding-top: 15px;
    padding-left: 20px;
    width: 8%;
    height: 8%;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.icon-bar {
    width: 25px;
}

.header_area .navbar .nav .nav-item:last-child {
    margin: 0;
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}

.navbar .container {
    padding-left: 3%;
    padding-right: 3%;
}

.navbar-toggler span {
    margin: 3px 0;
    height: 3px !important;
    display: block;
    background-color: #370267 !important;
}

.header_area .navbar .nav-item .btn {
    border-radius: 5px;
    padding: 0 30px !important;
    color: #fff !important;
}

.header_area .navbar .nav-item .login {
    background-color: #fff;
    border: 1px solid #30015b;
    color: #30015b !important;
}

.main_menu span {
    color: #370267;
    padding-left: 2vw;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


/* ==== HERO SECTION ===== */

.hero_banner_area {
    margin-top: 5%;
    padding: 5% 0;
}

.banner_content {
    padding-top: 10%;
    padding-left: 5%;
}

.banner_content h2 {
    font-size: 50px;
    line-height: 60px;
}

.banner_content p {
    color: #30015b;
    font-size: 15px;
    max-width: 500px;
    margin: 25px 0;
}

.hero_img {
    padding-top: 3%;
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
}

.hero_img img {
    width: 100%;
    height: 100%;
}


/* ==== ABOUT US SECTION ===== */

.about-us {
    background-color: #30015b;
    padding-left: 13%;
    padding-right: 13%;
}

.about-us .main_title h1 {
    color: #fff;
    font-size: 40px;
    padding-bottom: 5%;
}

.about-us p {
    font-size: 16px;
    line-height: 1.7;
}

.about-us .first {
    margin-bottom: 3rem !important;
}


/* ==== SERVICE SECTION ===== */

.services .container {
    padding: 0 4%;
}

.service_title {
    padding-bottom: 6%;
}

.service_title h1 {
    font-size: 40px;
    margin-bottom: 1%;
}

.service_title p {
    font-size: 20px;
}

.service-details h4 {
    padding-bottom: 10px;
}

.service-thumb {
    margin-bottom: 15px;
}

.service-details p {
    font-size: 15px;
    line-height: 1.7;
    padding-bottom: 5%;
    height: 5rem;
    width: 80%;
    margin: auto;
}

.dt-link {
    color: #af56ff;
}

.fa-arrow-right {
    padding-left: 5px;
}


/* ==== TOP PARTNERS SECTION ===== */

.top-partners {
    background-color: #30015b;
    padding-bottom: 10%;
}

.top-partners p,
.top-partners h1 {
    color: #fff !important;
}

.top-partners p {
    font-size: 20px;
}

.top-partners h1 {
    font-size: 38px;
}

.jumia {
    margin-top: 3rem;
}


/* ==== EXCHANGE INFO SECTION ===== */

.exchange .container {
    padding: 0 4%;
}

.exchange-info {
    padding-top: 12%;
}

.exchange-info h2 {
    font-size: 36px;
    line-height: 50px;
}

.exchange-info p {
    color: #30015b;
    font-size: 15px;
    padding-bottom: 5%;
    margin: 25px 0;
}

.exchange-rate {
    margin-top: 10%;
}

.form-control {
    padding: 10px;
    font-size: 14px;
}

.exchange .d-flex {
    padding: 0;
    padding-top: 2rem;
}

.exchange .btn {
    color: #fff;
    background: #30015b;
}

.exchange .primary-btn {
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-control {
    padding: 25px 10px;
}


/* ==== TECHNOLOGY SECTION ===== */

.technology h1 {
    font-weight: bold;
    padding-bottom: 3rem;
    margin-top: 0;
    font-size: 40px;
}

.technology .container {
    padding: 0 4%;
}

.technology .left {
    padding-top: 5%;
}

.technology .technology-list {
    padding-bottom: 3%;
    color: #30015b;
    font-size: 17px;
    line-height: 30px;
}

.s-img {
    padding-top: 5%;
    width: 70%;
    height: 70%;
    margin: auto;
}


/* ==== TESTIMONIAL SECTION ===== */

.testimonial {
    background-color: #30015b;
}

.testimonial .container {
    padding: 0 4% 5%;
}

.testimonial h1 {
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 8rem;
    font-size: 40px;
}

.testimonial-1 {
    background-color: #fff;
    height: 25rem;
    padding: 5% 10%;
    margin-bottom: 3%;
}

.testimonial-1 .tes-details .tes-meta {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.testimonial-1 .tes-thumb {
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
    margin-bottom: 6%;
}

.tes-details p {
    margin: 0;
}


/* ====BLOG SECTION ===== */

.blog_area h1 {
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 40px;
}

.blog_area .container {
    padding: 0 4%;
}

.blog_area .col-md-6 {
    margin-bottom: 3%;
}

.single-blog .blog-details {
    height: 18rem;
    background-color: #400a71;
}

.blog-details h3 a {
    color: #fff;
}

.blog-meta {
    padding: 5px 0;
    color: #ffb800;
}

.blog-details {
    padding: 5%;
}

.blog-details p {
    color: #808080;
    font-size: 14px;
}


/* ====NEWSLETTER SECTION ===== */

.wh-paper {
    color: #30015b;
    font-weight: 600;
    padding-top: 1rem;
}

.news-letter .container {
    padding: 0 6%;
}

.news-letter .primary-btn {
    padding: 10px;
}

.d-flex {
    padding: 0;
}

.form-inline {
    padding-top: 10px;
}


/* ====footer SECTION ===== */

.footer_top {
    margin-top: 60px;
    background-color: #30015b;
    padding-bottom: 30px !important;
}

.footer_link {
    color: #fff;
}

.footer_link p a {
    color: #fff;
}

.footer_link .social-icons a:not(:last-child) {
    padding-right: 40px;
}

.footer_link .social-icons a i {
    color: #fff;
    font-size: 18px;
}

.footer_link .social-icons a i:hover {
    color: #f13d80;
}

.footer_link a:hover {
    color: #f13d80;
}

.copyright {
    font-size: 10px;
}


/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 987px) {
    .banner_content {
        padding: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    .header_area .navbar .nav .nav-item {
        margin: 0;
    }
    .navbar-collapse {
        text-align: center;
    }
    .ins .login {
        border: 0 !important;
    }
    .banner_content h2 {
        padding-top: 1rem;
        font-size: 36px;
        line-height: 40px;
    }
    .hero_img {
        padding: 0;
        display: block;
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .testimonial h1 {
        padding: 3rem 0 5rem;
    }
    .exchange-info h2 {
        font-size: 29px;
        line-height: 40px;
    }
    .service-details p {
        padding: 0;
        height: 5rem;
    }
    .container {
        padding: 0 !important;
    }
    .service-thumb {
        margin-top: 10px;
    }
    .news-letter h3 {
        font-size: 20px;
    }
    .s-img {
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .section_gap {
        padding: 50px 0;
    }
    .banner_content h2,
    .about-us .main_title h1,
    .technology h2,
    .service_title h1,
    .top-partners h1,
    .exchange-info h2 {
        font-size: 30px;
    }
    .banner_content {
        padding-top: 0;
    }
    .hero_img {
        padding-top: 2rem;
    }
    .exchange-info {
        padding-top: 0;
        padding-bottom: 15px;
    }
    .exchange-info p {
        margin: 0;
    }
    .about-us p {
        font-size: 14px;
        line-height: 1.7;
    }
    .exchange-info,
    .banner_content {
        text-align: center;
    }
    .technology .left {
        padding: 0 10px;
    }
    .technology h1 {
        padding-bottom: 2.5rem;
    }
    .technology-list p {
        text-align: center;
    }
    .news-letter .primary-btn {
        margin-left: 0.7rem;
    }
    .right-image {
        display: none;
    }
    .service-details p {
        padding: 0;
        height: 4rem;
    }
    .service-thumb {
        margin-top: 1rem;
    }
    .single-blog {
        padding: 0 10px;
    }
    .testimonial-1 .tes-details .tes-meta {
        padding-top: 1rem;
    }
    .testimonial h1 {
        padding: 0;
        padding-bottom: 3rem;
    }
    .blog_area h1 {
        padding: 3rem 0;
    }
    .news-letter {
        text-align: center;
    }
    .social-icons {
        padding-top: 1.5rem;
    }
    .banner_content h2 {
        line-height: 40px;
    }
    .banner_content p {
        margin: 0;
        padding-bottom: 2rem;
    }
}

@media (max-width: 450px) {
    .hero_img {
        display: none;
    }
    .banner_content {
        margin-bottom: 2rem;
    }
    .navbar-brand {
        width: 60px;
    }
    .login {
        margin-bottom: 20px;
    }
}